@charset "utf-8";

h1 {
  border-style: solid;
  color: blue;
  font-size: 40pt;
  border-width: thick;
  font-family: sans-serif;
  padding: 8px;
  width: 550px;
}

#year {
  font-weight: bold;
  text-shadow: 2px 2px grey;
  shadow-color:
}

#rating {
  color: white;
  background-color: red;
  width: 45px;
  padding: 10px;
}
